@import "tailwindcss";

/* Ligt version */
@custom-variant light (&:where(.light, .light *));

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

/* Custom scrollbar for modal */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
}

.light ::-webkit-scrollbar-thumb {
  background: #d1d5db;
}